.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
_*.html
content/**/*.bak
content/**/NAJ_*_raw*.md
content/**/*.PLACEHOLDER
content/**/*.TMPCHECK
